<ion-app>
  <ion-router-outlet>tab</ion-router-outlet>
</ion-app>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab">
      <ion-icon name="agenda, mapa, sobre"></ion-icon>
      <ion-label>Tab</ion-label>
      <ion-badge>3</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="agenda">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa">
      <ion-icon name="mapa"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sobre">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
